html {
  font-size: 10px;
  font-family: "GothamPro", Arial, Sans-serif; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "GothamPro";
  src: url(../fonts/GothaProMed.otf) format("opentype");
  font-weight: normal;
  font-style: normal; }

.header {
  position: relative;
  background: url("../images/header_secondary.jpg") no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 3rem 10rem 15rem;
  z-index: 1; }
  .header__wraper {
    background-color: rgba(146, 11, 11, 0.8);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 10%, rgba(146, 11, 11, 0.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .header__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem; }
  .header__heading {
    margin-bottom: 8rem;
    padding: 0 2rem; }
    .header__heading-item {
      text-transform: uppercase;
      color: #fff;
      font-size: 3.5rem;
      text-align: center;
      letter-spacing: .35rem;
      font-weight: 100;
      line-height: 1.5; }

.upper__navigation {
  width: 33.33%;
  cursor: pointer; }

.upper__logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  cursor: pointer;
  transition: all .2s; }

.upper__number-box {
  display: flex;
  flex-direction: column;
  width: 33.33%; }

.upper__number {
  margin-bottom: 0.5rem;
  text-decoration: none;
  text-align: right;
  letter-spacing: 0.4rem;
  color: #fff;
  font-size: 1.2rem;
  outline: none; }

.upper__mail {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  font-size: .8rem;
  text-align: right;
  outline: none; }

.logo:hover {
  transform: scale(1.3);
  transition: all .2s; }

.nav__btn {
  position: relative;
  background-color: transparent;
  display: block;
  width: 3rem;
  height: 4.2rem;
  border: 0;
  border-radius: 0;
  cursor: pointer; }
  .nav__btn:focus {
    outline: none; }
  .nav__btn:hover .nav-dash-left {
    transform: rotate(90deg) translate(9px, -1px);
    height: 3px; }
  .nav__btn:hover .nav-dash-left::after {
    height: 3px;
    width: 1.2rem;
    transform: rotate(-45deg) translate(12px, 8px); }
  .nav__btn:hover .nav-dash-right {
    transform: rotate(-45deg) translate(6px, 10px);
    width: 1.2rem;
    height: 3px; }
  .nav__btn:hover .nav-dash-right::after {
    display: none; }

.nav-dash-left {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 2.5rem;
  height: 1px;
  background-color: #fff;
  margin-bottom: 1.2rem;
  transition: all .2s; }
  .nav-dash-left::after {
    content: "";
    position: absolute;
    top: .65rem;
    left: 0;
    display: block;
    width: 1.4rem;
    height: 1px;
    background-color: #fff; }

.nav-dash-right {
  position: absolute;
  top: 1.5rem;
  left: 0;
  display: block;
  width: 2.5rem;
  height: 1px;
  background-color: #fff;
  transition: all .3s; }
  .nav-dash-right::after {
    content: "";
    position: absolute;
    top: .65rem;
    left: 0;
    display: block;
    width: 1.4rem;
    height: 1px;
    background-color: #fff; }

.btn {
  position: relative;
  display: block;
  margin: auto;
  background-color: #bb0c2d;
  padding: 2rem 3rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .4rem;
  border: 0;
  border-radius: 2px;
  cursor: pointer; }
  .btn:after {
    content: "&rarr;";
    position: absolute;
    display: block;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 10px; }
  .btn:focus {
    outline: none; }
