html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: "GothamPro", Arial, Sans-serif; }
  @media (max-width: 74.8rem) {
    html {
      font-size: 8px; } }

body {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "GothamPro";
  src: url(../fonts/GothaProMed.otf) format("opentype");
  font-weight: normal;
  font-style: normal; }

.header {
  position: relative;
  background: url("../images/header_secondary.jpg") no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 3rem 10rem 15rem;
  z-index: 1; }
  @media (max-width: 74.8rem) {
    .header {
      padding: 3rem 5rem 13rem; } }
  @media (max-width: 60rem) {
    .header {
      padding: 3rem 2rem 10rem; } }
  .header__wraper {
    background-color: rgba(146, 11, 11, 0.8);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 10%, rgba(146, 11, 11, 0.8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }
  .header__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem; }
  .header__heading {
    margin-bottom: 8rem;
    padding: 0 2rem; }
    @media (max-width: 74.8rem) {
      .header__heading {
        padding: 0; } }
    .header__heading-item {
      text-transform: uppercase;
      color: #fff;
      font-size: 3.5rem;
      text-align: center;
      letter-spacing: .35rem;
      font-weight: 100;
      line-height: 1.5; }
    @media (max-width: 74.8rem) {
      .header__heading {
        font-size: 3rem; } }
    @media (max-width: 74.8rem) {
      .header__heading {
        font-size: 2.6rem; } }

.upper__navigation {
  width: 33.33%; }

.upper__logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  cursor: pointer;
  transition: all .2s; }

.upper__number-box {
  display: flex;
  flex-direction: column;
  width: 33.33%; }

.upper__number {
  margin-bottom: 0.5rem;
  text-decoration: none;
  text-align: right;
  letter-spacing: 0.4rem;
  color: #fff;
  font-size: 1.2rem;
  outline: none;
  transition: all .2s; }
  .upper__number:hover {
    color: #bb0c2d; }

.upper__mail {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #fff;
  font-size: .8rem;
  text-align: right;
  outline: none;
  transition: all .2s; }
  .upper__mail:hover {
    color: #bb0c2d; }

.nav__btn {
  position: relative;
  background-color: transparent;
  display: block;
  width: 3rem;
  height: 4.2rem;
  border: 0;
  border-radius: 0;
  cursor: pointer; }
  .nav__btn:focus {
    outline: none; }
  .nav__btn:hover .nav-dash-left {
    transform: rotate(90deg) translate(9px, -1px);
    height: 3px; }
  .nav__btn:hover .nav-dash-left::after {
    height: 3px;
    width: 1.2rem;
    transform: rotate(-45deg) translate(12px, 8px); }
  .nav__btn:hover .nav-dash-right {
    transform: rotate(-45deg) translate(6px, 10px);
    width: 1.2rem;
    height: 3px; }
  .nav__btn:hover .nav-dash-right::after {
    display: none; }

.nav-dash-left {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 2.5rem;
  height: 1px;
  background-color: #fff;
  margin-bottom: 1.2rem;
  transition: all .2s; }
  .nav-dash-left::after {
    content: "";
    position: absolute;
    top: .65rem;
    left: 0;
    display: block;
    width: 1.4rem;
    height: 1px;
    background-color: #fff; }

.nav-dash-right {
  position: absolute;
  top: 1.5rem;
  left: 0;
  display: block;
  width: 2.5rem;
  height: 1px;
  background-color: #fff;
  transition: all .3s; }
  .nav-dash-right::after {
    content: "";
    position: absolute;
    top: .65rem;
    left: 0;
    display: block;
    width: 1.4rem;
    height: 1px;
    background-color: #fff; }

.navigation,
#navigation {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 0;
  height: 100vh;
  z-index: 1000;
  transition: all 1s; }
  .navigation__bar,
  #navigation__bar {
    position: relative;
    width: 25%;
    height: 100%;
    background-color: #fcfcfc;
    padding: 8rem 1rem 0; }
    @media (max-width: 74.8rem) {
      .navigation__bar,
      #navigation__bar {
        width: 35%; } }
  .navigation__list,
  #navigation__list {
    list-style: none;
    padding: 0; }
  .navigation__item,
  #navigation__item {
    position: relative;
    display: block;
    padding: 1rem 2rem;
    color: #1b1e24;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s; }
    .navigation__item::after,
    #navigation__item::after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 2rem;
      left: 0;
      display: block;
      width: 0;
      height: 1px;
      background-color: #920b0b;
      transition: all .3s; }
    .navigation__item:hover::after,
    #navigation__item:hover::after {
      width: 100%; }
    .navigation__item:focus,
    #navigation__item:focus {
      outline: none; }
  .navigation__nav,
  #navigation__nav {
    margin-bottom: 4rem; }
  .navigation__esc,
  #navigation__esc {
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer; }
    .navigation__esc-btn::after, .navigation__esc-btn::before,
    #navigation__esc-btn::after,
    #navigation__esc-btn::before {
      content: "";
      display: inline-block;
      width: 2.5rem;
      height: 2px;
      background-color: #000;
      transition: all .3s; }
    .navigation__esc-btn,
    #navigation__esc-btn {
      background-color: transparent; }
    .navigation__esc-btn::after,
    #navigation__esc-btn::after {
      top: 1rem;
      transform: rotate(-45deg) translate(5px, -2px); }
      @media (max-width: 74.8rem) {
        .navigation__esc-btn::after,
        #navigation__esc-btn::after {
          transform: rotate(-45deg) translate(3px, -3px); } }
    .navigation__esc-btn::before,
    #navigation__esc-btn::before {
      top: 1rem;
      transform: rotate(45deg) translate(7px, 3px); }
      @media (max-width: 74.8rem) {
        .navigation__esc-btn::before,
        #navigation__esc-btn::before {
          transform: rotate(45deg) translate(3px, 3px); } }
    .navigation__esc-btn:hover::after,
    #navigation__esc-btn:hover::after {
      top: 1rem;
      transform: rotate(45deg) translate(-1px, -6px); }
      @media (max-width: 74.8rem) {
        .navigation__esc-btn:hover::after,
        #navigation__esc-btn:hover::after {
          transform: rotate(45deg) translate(-3px, -3px); } }
    .navigation__esc-btn:hover::before,
    #navigation__esc-btn:hover::before {
      top: 1rem;
      transform: rotate(-45deg) translate(-3px, 7px); }
      @media (max-width: 74.8rem) {
        .navigation__esc-btn:hover::before,
        #navigation__esc-btn:hover::before {
          transform: rotate(-45deg) translate(-3px, 3px); } }

.activeNav {
  animation: openNav .2s; }

.closeNav {
  animation: closeNav .2s; }

@keyframes openNav {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes closeNav {
  from {
    width: 100%; }
  to {
    width: 0; } }

.btn {
  position: relative;
  display: block;
  margin: auto;
  background-color: #bb0c2d;
  padding: 2rem 3rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: .4rem;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: all .4s; }
  @media (max-width: 60rem) {
    .btn {
      font-size: 1.4rem; } }
  .btn:hover {
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 0.6rem 1rem rgba(0, 0, 0, 0.3); }
  .btn:active, .btn:visited {
    transform: translateY(-1px) scale(1.02);
    box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
    transition: .2s; }
  .btn:focus {
    outline: none; }

.btn-cars {
  position: relative;
  display: inline-block;
  margin: auto;
  padding: 2rem .5rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #1b1e24;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .4rem;
  cursor: pointer;
  z-index: 1; }
  .btn-cars::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    height: 3px;
    background-color: rgba(187, 12, 45, 0.5);
    border-radius: 2px;
    transition: all .3s;
    z-index: -1;
    box-shadow: 0.7rem 1rem 3rem 0.3rem rgba(187, 12, 45, 0.2); }
  .btn-cars:hover::after {
    height: 100%;
    background-color: rgba(187, 12, 45, 0.75);
    border-bottom: 1px solid #1b1e24;
    color: #000;
    transform: translateX(-50%) translateY(-1px);
    box-shadow: 0 0.6rem 1rem rgba(187, 12, 45, 0.3); }
  .btn-cars:active::after {
    transform: translateX(-50%) translateY(-1px);
    box-shadow: 0 0.3rem 0.5rem rgba(187, 12, 45, 0.5); }
  .btn-cars:focus {
    outline: none; }

.carousel-radio-left {
  display: none; }
  .carousel-radio-left--1:checked ~ .car-box--one-left {
    display: block; }
  .carousel-radio-left--1:checked ~ .carousel__labels-left .carousel__labels-item--first-left::after {
    width: .8rem;
    height: .8rem;
    background: #bb0c2d; }
  .carousel-radio-left--2:checked ~ .car-box--two-left {
    display: block; }
  .carousel-radio-left--2:checked ~ .carousel__labels-left .carousel__labels-item--second-left::after {
    width: .8rem;
    height: .8rem;
    background: #bb0c2d; }
  .carousel-radio-left--3:checked ~ .car-box--three-left {
    display: block; }
  .carousel-radio-left--3:checked ~ .carousel__labels-left .carousel__labels-item--third-left::after {
    width: .8rem;
    height: .8rem;
    background: #bb0c2d; }
  .carousel-radio-left--4:checked ~ .car-box--four-left {
    display: block; }
  .carousel-radio-left--4:checked ~ .carousel__labels-left .carousel__labels-item--fourth-left::after {
    width: .8rem;
    height: .8rem;
    background: #bb0c2d; }
  .carousel-radio-left--5:checked ~ .car-box--five-left {
    display: block; }
  .carousel-radio-left--5:checked ~ .carousel__labels-left .carousel__labels-item--fifth-left::after {
    width: .8rem;
    height: .8rem;
    background: #bb0c2d; }

.carousel-radio-middle {
  display: none;
  transition: all 1s; }
  .carousel-radio-middle--1:checked ~ .car-box--one-middle {
    display: block; }
  .carousel-radio-middle--1:checked ~ .carousel__labels-middle .carousel__labels-item--first-middle::after {
    width: .8rem;
    height: .8rem;
    background: #bb0c2d; }
  .carousel-radio-middle--2:checked ~ .car-box--two-middle {
    display: block; }
  .carousel-radio-middle--2:checked ~ .carousel__labels-middle .carousel__labels-item--second-middle::after {
    width: .8rem;
    height: .8rem;
    background: #bb0c2d; }
  .carousel-radio-middle--3:checked ~ .car-box--three-middle {
    display: block; }
  .carousel-radio-middle--3:checked ~ .carousel__labels-middle .carousel__labels-item--third-middle::after {
    width: .8rem;
    height: .8rem;
    background: #bb0c2d; }
  .carousel-radio-middle--4:checked ~ .car-box--four-middle {
    display: block; }
  .carousel-radio-middle--4:checked ~ .carousel__labels-middle .carousel__labels-item--fourth-middle::after {
    width: .8rem;
    height: .8rem;
    background: #bb0c2d; }
  .carousel-radio-middle--5:checked ~ .car-box--five-middle {
    display: block; }
  .carousel-radio-middle--5:checked ~ .carousel__labels-middle .carousel__labels-item--fifth-middle::after {
    width: .8rem;
    height: .8rem;
    background: #bb0c2d; }

.carousel-radio-right {
  display: none; }
  .carousel-radio-right--1:checked ~ .car-box--one-right {
    display: block; }
  .carousel-radio-right--1:checked ~ .carousel__labels-right .carousel__labels-item--first-right::after {
    width: .8rem;
    height: .8rem;
    background: #bb0c2d; }
  .carousel-radio-right--2:checked ~ .car-box--two-right {
    display: block; }
  .carousel-radio-right--2:checked ~ .carousel__labels-right .carousel__labels-item--second-right::after {
    width: .8rem;
    height: .8rem;
    background: #bb0c2d; }
  .carousel-radio-right--3:checked ~ .car-box--three-right {
    display: block; }
  .carousel-radio-right--3:checked ~ .carousel__labels-right .carousel__labels-item--third-right::after {
    width: .8rem;
    height: .8rem;
    background: #bb0c2d; }
  .carousel-radio-right--4:checked ~ .car-box--four-right {
    display: block; }
  .carousel-radio-right--4:checked ~ .carousel__labels-right .carousel__labels-item--fourth-right::after {
    width: .8rem;
    height: .8rem;
    background: #bb0c2d; }
  .carousel-radio-right--5:checked ~ .car-box--five-right {
    display: block; }
  .carousel-radio-right--5:checked ~ .carousel__labels-right .carousel__labels-item--fifth-right::after {
    width: .8rem;
    height: .8rem;
    background: #bb0c2d; }

.carousel__labels-left {
  position: absolute;
  width: 100%;
  bottom: 55%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; }
  @media (max-width: 60rem) {
    .carousel__labels-left {
      bottom: 62%; } }
  .carousel__labels-left-item::after {
    content: "";
    display: inline-block;
    margin: 0 1rem;
    width: .5rem;
    height: .5rem;
    background-color: rgba(187, 12, 45, 0.5);
    border-radius: 50%;
    cursor: pointer; }

.carousel__labels-middle {
  position: absolute;
  width: 100%;
  bottom: 55%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; }
  @media (max-width: 60rem) {
    .carousel__labels-middle {
      bottom: 62%; } }
  .carousel__labels-middle-item::after {
    content: "";
    display: inline-block;
    margin: 0 1rem;
    width: .5rem;
    height: .5rem;
    background-color: rgba(187, 12, 45, 0.5);
    border-radius: 50%;
    cursor: pointer; }

.carousel__labels-right {
  position: absolute;
  width: 100%;
  bottom: 55%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center; }
  @media (max-width: 60rem) {
    .carousel__labels-right {
      bottom: 62%; } }
  .carousel__labels-right-item::after {
    content: "";
    display: inline-block;
    margin: 0 1rem;
    width: .5rem;
    height: .5rem;
    background-color: rgba(187, 12, 45, 0.5);
    border-radius: 50%;
    cursor: pointer; }

.section-cars {
  background-color: #fcfcfc;
  padding: 8rem 10rem;
  text-align: center; }
  @media (max-width: 74.8rem) {
    .section-cars {
      padding: 5rem 5rem; } }

.cars {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem; }
  @media (max-width: 40.5rem) {
    .cars {
      flex-direction: column; } }
  .cars__info-box {
    position: relative;
    max-width: 30%;
    margin-bottom: 3rem; }
    @media (max-width: 74.8rem) {
      .cars__info-box {
        max-width: 25%; } }
    @media (max-width: 40.5rem) {
      .cars__info-box {
        max-width: 90%; } }
  .cars__popup {
    display: block; }

.info-box__img {
  max-width: 100%;
  max-height: 100%; }

.info-box__car-name {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 100;
  letter-spacing: .2rem;
  color: #181a1e; }

.info-box__car-descr {
  color: gray;
  font-size: 1.5rem;
  font-weight: 100; }

.info-box__transmission {
  color: gray;
  font-size: 1.5rem;
  font-weight: 100; }

.info-box__price {
  color: #bb0c2d;
  font-size: 1.6rem; }

.car-box {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 2rem; }
  .car-box--left {
    display: none; }
  .car-box--middle {
    display: none; }
  .car-box--right {
    display: none; }
  .car-box__popup {
    width: 100%; }

.car-block {
  height: 20rem;
  text-align: center;
  margin-bottom: 2rem; }

.popup {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background: linear-gradient(to left bottom, white 50%, #e7e7e7 100%);
  border-radius: 10px;
  text-align: center;
  padding: 8rem 1rem 5rem;
  margin: auto;
  z-index: 2000;
  font-size: 1.2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transition: all .3s; }
  .popup__content {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem; }
    @media (max-width: 60rem) {
      .popup__content {
        justify-content: center; } }
  .popup__esc {
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    cursor: pointer; }
    .popup__esc-btn::after, .popup__esc-btn::before {
      content: "";
      display: inline-block;
      width: 2.5rem;
      height: 2px;
      background-color: #000;
      transition: all .3s; }
    .popup__esc-btn {
      background-color: transparent; }
    .popup__esc-btn::after {
      top: 1rem;
      transform: rotate(-45deg) translate(5px, -1px); }
      @media (max-width: 74.8rem) {
        .popup__esc-btn::after {
          transform: rotate(-45deg) translate(5px, -6px); } }
    .popup__esc-btn::before {
      top: 1rem;
      transform: rotate(45deg) translate(9px, 4px); }
      @media (max-width: 74.8rem) {
        .popup__esc-btn::before {
          transform: rotate(45deg) translate(2px, 2px); } }
    .popup__esc-btn:hover::after {
      top: 1rem;
      transform: rotate(45deg) translate(-1px, -6px); }
      @media (max-width: 74.8rem) {
        .popup__esc-btn:hover::after {
          transform: rotate(45deg) translate(-5px, -6px); } }
    .popup__esc-btn:hover::before {
      top: 1rem;
      transform: rotate(-45deg) translate(-4px, 8px); }
      @media (max-width: 74.8rem) {
        .popup__esc-btn:hover::before {
          transform: rotate(-45deg) translate(-2px, 2px); } }
  .popup__cars {
    width: 30%;
    text-align: center; }
  .popup__car-block {
    height: 18rem; }
    @media (max-width: 60rem) {
      .popup__car-block {
        height: 11rem; } }
