.btn {
  position: relative;
  display: block;
  margin: auto;
  background-color: $main-color;
  padding: 2rem 3rem;
  text-transform: uppercase;
  color: $white-color;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .4rem;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: all .4s;

  &:hover {
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 .6rem 1rem rgba(0,0,0, .3);
  }
  &:active,
  &:visited {
    transform: translateY(-1px) scale(1.02);
    box-shadow: 0 .3rem .5rem rgba(0,0,0, .4);
    transition: .2s;
  }

  &:focus {
    outline: none;
  }
}