.btn {
  position: relative;
  display: block;
  margin: auto;
  background-color: $main-color;
  padding: 2rem 3rem;
  text-transform: uppercase;
  color: $white-color;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: .4rem;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  transition: all .4s;

  @include respond(tab-port) {
  font-size: 1.4rem;
  }


  &:hover {
    transform: translateY(-3px) scale(1.02);
    box-shadow: 0 .6rem 1rem rgba(0,0,0, .3);
  }
  &:active,
  &:visited {
    transform: translateY(-1px) scale(1.02);
    box-shadow: 0 .3rem .5rem rgba(0,0,0, .4);
    transition: .2s;
  }

  &:focus {
    outline: none;
  }
}

.btn-cars {
  position: relative;
  display: inline-block;
  margin: auto;
  padding: 2rem .5rem;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $dark-btn;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: .4rem;
  cursor: pointer;
  z-index: 1;

  &::after {
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    height: 3px;
    background-color: rgba($main-color, 0.5);
    border-radius: 2px;
    transition: all .3s;
    z-index: -1;
    box-shadow: .7rem 1rem 3rem .3rem rgba($main-color, .2);
  }

  &:hover::after {
    height: 100%;
    background-color: rgba($main-color, 0.75);
    border-bottom: 1px solid $dark-btn;
    color: #000;
    transform: translateX(-50%) translateY(-1px);
    box-shadow: 0 .6rem 1rem rgba($main-color, .3);
  }

  &:active::after {
    transform: translateX(-50%) translateY(-1px);
    box-shadow: 0 .3rem .5rem rgba($main-color, .5);

  }

  &:focus {
    outline: none;
  }

}