.cars {
  background-color: $light-gray;
  padding: 3rem 10rem;

  &__info {
    display: flex;
    justify-content: space-between;

    &-box{
      // display: none;
      flex-grow: 1;
      width: 33.33%;
    }
  }
}

.comment-box {
  display: none;
}
