.carousel-radio-left {
  display: none;

  &--1 {
    &:checked ~ .car-box--one-left {
      display: block;
    }

    &:checked ~ .carousel__labels-left .carousel__labels-item--first-left::after {
      width: .8rem;
      height: .8rem;
      background: $main-color;
    }
  }

  &--2 {
    &:checked ~ .car-box--two-left {
      display: block;
    }

    &:checked ~ .carousel__labels-left .carousel__labels-item--second-left::after {
      width: .8rem;
      height: .8rem;
      background: $main-color;
    }
  }

  &--3 {
    &:checked ~ .car-box--three-left {
      display: block;
    }

    &:checked ~ .carousel__labels-left .carousel__labels-item--third-left::after {
      width: .8rem;
      height: .8rem;
      background: $main-color;
    }
  }

  &--4 {
    &:checked ~ .car-box--four-left {
      display: block;
    }

    &:checked ~ .carousel__labels-left .carousel__labels-item--fourth-left::after {
      width: .8rem;
      height: .8rem;
      background: $main-color;
    }
  }

  &--5 {
    &:checked ~ .car-box--five-left {
      display: block;
    }

    &:checked ~ .carousel__labels-left .carousel__labels-item--fifth-left::after {
      width: .8rem;
      height: .8rem;
      background: $main-color;
    }
  }
}

.carousel-radio-middle {
  display: none;
  transition: all 1s;


  &--1 {
    &:checked ~ .car-box--one-middle {
      display: block;
    }

    &:checked ~ .carousel__labels-middle .carousel__labels-item--first-middle::after {
      width: .8rem;
      height: .8rem;
      background: $main-color;
    }
  }

  &--2 {
    &:checked ~ .car-box--two-middle {
      display: block;
    }

    &:checked ~ .carousel__labels-middle .carousel__labels-item--second-middle::after {
      width: .8rem;
      height: .8rem;
      background: $main-color;
    }
  }

  &--3 {
    &:checked ~ .car-box--three-middle {
      display: block;
    }

    &:checked ~ .carousel__labels-middle .carousel__labels-item--third-middle::after {
      width: .8rem;
      height: .8rem;
      background: $main-color;
    }
  }

  &--4 {
    &:checked ~ .car-box--four-middle {
      display: block;
    }

    &:checked ~ .carousel__labels-middle .carousel__labels-item--fourth-middle::after {
      width: .8rem;
      height: .8rem;
      background: $main-color;
    }
  }

  &--5 {
    &:checked ~ .car-box--five-middle {
      display: block;
    }

    &:checked ~ .carousel__labels-middle .carousel__labels-item--fifth-middle::after {
      width: .8rem;
      height: .8rem;
      background: $main-color;
    }
  }
}

.carousel-radio-right {
  display: none;

  &--1 {
    &:checked ~ .car-box--one-right {
      display: block;
    }

    &:checked ~ .carousel__labels-right .carousel__labels-item--first-right::after {
      width: .8rem;
      height: .8rem;
      background: $main-color;
    }
  }

  &--2 {
    &:checked ~ .car-box--two-right {
      display: block;
    }

    &:checked ~ .carousel__labels-right .carousel__labels-item--second-right::after {
      width: .8rem;
      height: .8rem;
      background: $main-color;
    }
  }

  &--3 {
    &:checked ~ .car-box--three-right {
      display: block;
    }

    &:checked ~ .carousel__labels-right .carousel__labels-item--third-right::after {
      width: .8rem;
      height: .8rem;
      background: $main-color;
    }
  }

  &--4 {
    &:checked ~ .car-box--four-right {
      display: block;
    }

    &:checked ~ .carousel__labels-right .carousel__labels-item--fourth-right::after {
      width: .8rem;
      height: .8rem;
      background: $main-color;
    }
  }

  &--5 {
    &:checked ~ .car-box--five-right {
      display: block;
    }

    &:checked ~ .carousel__labels-right .carousel__labels-item--fifth-right::after {
      width: .8rem;
      height: .8rem;
      background: $main-color;
    }
  }
}

.carousel__labels-left {
  position: absolute;
  width: 100%;
  bottom: 55%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  @include respond(tab-port) {
  bottom: 62%;
  }
  @include respond(phone) {
    bottom: 50%;
  }

  &-item::after {
    content: "";
    display: inline-block;
    margin: 0 1rem;
    width: .5rem;
    height: .5rem;
    background-color: rgba($main-color, .5);
    border-radius: 50%;
    cursor: pointer;
  }
}

.carousel__labels-middle {
  position: absolute;
  width: 100%;
  bottom: 55%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  @include respond(tab-port) {
    bottom: 62%;
  }
  @include respond(phone) {
    bottom: 50%;
  }

  &-item::after {
    content: "";
    display: inline-block;
    margin: 0 1rem;
    width: .5rem;
    height: .5rem;
    background-color: rgba($main-color, .5);
    border-radius: 50%;
    cursor: pointer;
  }
}

.carousel__labels-right {
  position: absolute;
  width: 100%;
  bottom: 55%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;

  @include respond(tab-port) {
    bottom: 62%;
  }
  @include respond(phone) {
    bottom: 50%;
  }

  &-item::after {
    content: "";
    display: inline-block;
    margin: 0 1rem;
    width: .5rem;
    height: .5rem;
    background-color: rgba($main-color, .5);
    border-radius: 50%;
    cursor: pointer;
  }
}