.section-cars{
  background-color: $light-gray;
  padding: 8rem 10rem;
  text-align: center;

  @include respond(tab-land) {
    padding: 5rem 5rem;
  }
  @include respond(phone) {
    padding: 5rem 0;
  }

}

.cars {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;

  @include respond(phone) {
    flex-direction: column;
    align-items: center;
  }


  &__info-box {
    position: relative;
    max-width: 30%;
    margin-bottom: 3rem;
    
    @include respond(tab-land) {
      max-width: 25%;
    }
    @include respond(phone) {
      max-width: 90%;
    }
  
  
  }

  &__popup {
    display: block;
  }
}

.info-box{

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__car-name {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 100;
    letter-spacing: .2rem;
    color: $dark-gray;
  }
  &__car-descr {
    color: $gray;
    font-size: 1.5rem;
    font-weight: 100;
  }

  &__transmission {
    color: $gray;
    font-size: 1.5rem;
    font-weight: 100;
  }

  &__price {
    color: $main-color;
    font-size: 1.6rem;
  }

}
.car-box {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: 2rem;
  
  &--left {
    display: none;
  }

  &--middle {
    display: none;
  }

  &--right {
    display: none;
  }

  &__popup {
    width: 100%;
  }
}

.car-block {
  height: 20rem;
  text-align: center;
  margin-bottom: 2rem;

  @include respond(phone) {
    height: 28rem;
  }
}


