.header {
  position: relative;
  background: url('../images/header_secondary.jpg') no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 3rem 10rem 15rem;
  z-index: 1;

  @include respond(tab-land) {
    padding: 3rem 5rem 13rem;
  }
  @include respond(tab-port) {
    padding: 3rem 2rem 10rem;
  }



  &__wraper {
    background-color: rgba($wrap-color, .8);
    background: linear-gradient(to bottom, rgba(#000, .85) 10%, rgba($wrap-color, .8) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &__upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
  }

  &__heading {
    margin-bottom: 8rem;
    padding: 0 2rem;

    @include respond(tab-land) {
      padding: 0;
    }


    &-item {
      text-transform: uppercase;
      color: $white-color; 
      font-size: 3.5rem;
      text-align: center;
      letter-spacing: .35rem;
      font-weight: 100;
      line-height: 1.5;
    }

    @include respond(tab-land) {
      font-size: 3rem;
    }
    @include respond(tab-land) {
      font-size: 2.6rem;
    }

  
  }
}

.upper {
  &__navigation {
    width: 33.33%;
  }

  &__logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33.33%;
    cursor: pointer;
    transition: all .2s;
  }

  &__number-box {
    display: flex;
    flex-direction: column;
    width: 33.33%;
  }

  &__number {
    margin-bottom: 0.5rem;
    text-decoration: none;
    text-align: right;
    letter-spacing: 0.4rem;
    color: $white-color;
    font-size: 1.2rem;
    outline: none;
    transition: all .2s;

    &:hover {
      color: $main-color;
    }
   }

  &__mail {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    color: $white-color;
    font-size: .8rem;
    text-align: right;
    outline: none;
    transition: all .2s;

    &:hover {
      color: $main-color;
    }

  }
}

