//menu
.nav {
  &__btn {
    position: relative;
    background-color: transparent;
    display: block;
    width: 3rem;
    height: 4.2rem;
    border: 0;
    border-radius: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover .nav-dash-left {
      transform: rotate(90deg) translate(9px, -1px);
      height: 3px;
    }

    &:hover .nav-dash-left::after {
      height: 3px;
      width: 1.2rem;
      transform: rotate(-45deg) translate(12px, 8px);
    }

    &:hover .nav-dash-right {
      transform: rotate(-45deg) translate(6px, 10px);
      width: 1.2rem;
      height: 3px;
    }

    &:hover .nav-dash-right::after {
      display: none;
    }
  }

  &-dash-left {
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: 2.5rem;
    height: 1px;
    background-color: $white-color;
    margin-bottom: 1.2rem;
    transition: all .2s;

    &::after {
      content: "";
      position: absolute;
      top: .65rem;
      left: 0;
      display: block;
      width: 1.4rem;
      height: 1px;
      background-color: $white-color;
    }
  }

  &-dash-right {
    position: absolute;
    top: 1.5rem;
    left: 0;
    display: block;
    width: 2.5rem;
    height: 1px;
    background-color: $white-color;
    transition: all .3s;

    &::after {
      content: "";
      position: absolute;
      top: .65rem;
      left: 0;
      display: block;
      width: 1.4rem;
      height: 1px;
      background-color: $white-color;
    }
  }
}

.navigation,
#navigation {
  display: none;
  position: fixed;
  background-color: rgba(0,0,0, .5);
  width: 0;
  height: 100vh;
  z-index: 1000;
  transition: all 1s;

  &__bar {
    position: relative;
    width: 25%;
    height: 100%;
    background-color: $light-gray;
    padding: 8rem 1rem 0;
    
    @include respond(tab-land) {
      width: 35%;
    }
    @include respond(phone) {
      width: 75%;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    position: relative;
    display: block;
    padding: 1rem 2rem;
    color: $dark-btn;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      bottom: 2rem;
      left: 0;
      display: block;
      width: 0;
      height: 1px;
      background-color: $wrap-color;
      transition: all .3s;
    }

    &:hover::after {
      width: 100%;
    }

    &:focus {
      outline: none;
    }
  }

  &__nav {
    margin-bottom: 4rem;
  }

  &__esc {
    position: absolute;
    top: 2rem;
    right: 2rem;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    
    &-btn::after,
    &-btn::before {
      content: "";
      display: inline-block;
      width: 2.5rem;
      height: 2px;
      background-color: #000;
      transition: all .3s;

    }
    &-btn {
      background-color: transparent;
    }

    &-btn::after {
      top: 1rem;
      transform: rotate(-45deg) translate(5px, -2px);
      @include respond(tab-land) {
        transform: rotate(-45deg) translate(3px, -3px);
      }
    }

    &-btn::before {
      top: 1rem;
      transform: rotate(45deg) translate(7px, 3px);
      @include respond(tab-land) {
        transform: rotate(45deg) translate(3px, 3px);
      }
    }

    &-btn:hover::after {
      top: 1rem;
      transform: rotate(45deg) translate(-1px, -6px);
      @include respond(tab-land) {
        transform: rotate(45deg) translate(-3px, -3px);
      }
    }

    &-btn:hover::before {
      top: 1rem;
      transform: rotate(-45deg) translate(-3px, 7px);
      @include respond(tab-land) {
        transform: rotate(-45deg) translate(-3px, 3px);
      }
    }
    @include respond(tab-land) {
    }
  }
}

.activeNav {
  animation: openNav .2s;
}

.closeNav {
  animation: closeNav .2s;
}

@keyframes openNav {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes closeNav {
  from {
    width: 100%;
  }

  to {
    width: 0;
  }
}



