.nav {
  &__btn {
    position: relative;
    background-color: transparent;
    display: block;
    width: 3rem;
    height: 4.2rem;
    border: 0;
    border-radius: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover .nav-dash-left {
      transform: rotate(90deg) translate(9px, -1px);
      height: 3px;
    }

    &:hover .nav-dash-left::after {
      height: 3px;
      width: 1.2rem;
      transform: rotate(-45deg) translate(12px, 8px);
    }

    &:hover .nav-dash-right {
      transform: rotate(-45deg) translate(6px, 10px);
      width: 1.2rem;
      height: 3px;
    }

    &:hover .nav-dash-right::after {
      display: none;
    }
  }

  &-dash-left {
    position: absolute;
    top: 2px;
    left: 0;
    display: block;
    width: 2.5rem;
    height: 1px;
    background-color: $white-color;
    margin-bottom: 1.2rem;
    transition: all .2s;

    &::after {
      content: "";
      position: absolute;
      top: .65rem;
      left: 0;
      display: block;
      width: 1.4rem;
      height: 1px;
      background-color: $white-color;
    }
  }

  &-dash-right {
    position: absolute;
    top: 1.5rem;
    left: 0;
    display: block;
    width: 2.5rem;
    height: 1px;
    background-color: $white-color;
    transition: all .3s;

    &::after {
      content: "";
      position: absolute;
      top: .65rem;
      left: 0;
      display: block;
      width: 1.4rem;
      height: 1px;
      background-color: $white-color;
    }
  }
}

.navigation {
  position: fixed;
  background-color: rgba(0,0,0, .5);
  width: 100%;
  height: 100vh;
  z-index: 1000;

  &__bar {
    width: 25%;
    height: 100%;
    background-color: $light-gray;
    padding: 8rem 1rem 0;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: block;
    padding: 1rem 2rem;
    color: $dark-btn;
    font-size: 1.6rem;
    text-decoration: none;
    text-transform: uppercase;

    &:hover::after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $wrap-color;
    }

    &:focus {
      outline: none;
    }
  }

  &__nav {
    margin-bottom: 4rem;
  }
}

