html {
  box-sizing: border-box;
  font-size: 10px; //1rem = 10px
  font-family: "GothamPro", Arial, Sans-serif;

  @include respond(tab-land) {
    font-size: 8px;
  }

  @include respond(huge-desktop) {
    font-size: 16px;
  }

}

body {
  margin: 0;
  padding: 0;
}