$main-color: #bb0c2d;
$wrap-color:rgb(146, 11, 11);
// $wrap-color:rgb(245, 2, 47); //color close to main-color
$white-color: #fff;
$light-gray: #fcfcfc;
$dark-gray: #181a1e;
$gray: gray;
$dark-btn: #1b1e24;